<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/4FOghJzXuYg/maxresdefault.jpg);">
  <div class="container hero">
    <h1 class="header_h1">Boozmania</h1>
    <%= link_to 'Create a cocktail', new_cocktail_path, class:"btn btn-primary rounded-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%@cocktails.each do |cocktail|%>
      <div class="card-product">
        <% if cocktail.img_url %>
          <img src=<%=cocktail.img_url%> class="cocktail-img">
        <%else %>
          <% if cocktail.photo.attached?%>
            <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill, class:"cocktail-img"%>
          <% else%>
            <%= cl_image_tag cocktail.photo.purge, height: 300, width: 400, crop: :fill, class:"cocktail-img"%>
          <%end%>
        <%end%>
        <div class="card-product-infos">
        <div class="flexy">
          <h2><%=cocktail.name%></h2>
          <%= link_to cocktail_path(cocktail), class:"trash", method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </div>
          <%= link_to 'Booze me !', cocktail_path(cocktail), class:"btn btn-warning" %>
        </div>
      </div>
    <%end%>
  </div>
</div>

<%= render 'footer' %>
