<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/4FOghJzXuYg/maxresdefault.jpg);">
  <div class="container hero">
    <h1>Welcome to <strong>Boozmania</strong></h1>
    <p>Boozyourself</p>
  </div>
</div>
<div class="btn-back">
  <%= link_to 'Back to main page', cocktails_path, class:"btn btn-danger" %>
</div>
<div class="cocktail">
  <% if @cocktail.img_url %>
    <img src=<%=@cocktail.img_url%> class="cocktail-img">
  <%else %>
    <% if @cocktail.photo.attached?%>
            <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, class:"cocktail-img"%>
          <% else%>
            <%= cl_image_tag @cocktail.photo.purge, height: 300, width: 400, crop: :fill, class:"cocktail-img"%>
          <%end%>
  <%end%>

  <h2><%= @cocktail.name %></h2>
  <p>Composition</p>
  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li><%="#{dose.description} || #{dose.ingredient.name}"%>
        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash"></i>
      <% end %>
    <%end%>
  </ul>
</div>

<div class="container cocktail">
  <%= simple_form_for [@cocktail, @dose] do |f|%>
    <%=f.association :ingredient %>
    <%=f.input :description%>
    <%=f.submit  "Add an ingredient", class:"btn btn-primary rounded-lg"%>
  <% end %>
</div>  
